body{
    /* background: linear-gradient(to right, #00c6ff, #0072ff); */
    height: max-content;
}
#construct{
    background-color: azure;
}
#logo{
    background-color: #0575E6;
    color: black;
}
.head1{
    color:black;
}
.head3{
    color:white;
}
#home-img{
    padding:20px;
    width: 100%;
    height:80%;
    opacity:0.7;
    filter: blur(4px);
}
.centered1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: cursive;
    text-align: center;
  }
  #name1{
      color:rgb(12, 12, 12);
  }
  #name2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding:10px;
    margin-bottom: 20px;
  }
  #new-hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    .card-img-top{
        border-radius: 50%;
        box-shadow: 2px 2px 10px black;
    }
    .clients{
        padding:30px;
    }
  #footer{
      padding-right: 20px;
      padding-bottom: 20px;
      text-align: center;
    }
